"""These are your normal login details for My England Golf and Master Scoreboard"""
EG_MEMBERSHIP_NUMBER = '9375023752'
EG_PASSWORD = 'myegpassword'
MASTER_SCOREBOARD_PASSWORD = 'masterscoreboardpassword'

"""Login to your society/club on https://www.masterscoreboard.co.uk/ and the CWID is the six digit number in the URL"""
MASTER_SCOREBOARD_CWID = '123456'

"""
Find your club's England Golf Club ID
1. Search for your golf club with this online tool: https://www.randa.org/course-handicap-calculator
2. A 7 digit code will appear in brackets next to the name of the golf club. The EG_CLUB_ID is the first 6 digits only.
"""
EG_CLUB_ID = '223923'

"""Your club's slope index - use the online tool to find it: https://www.randa.org/course-handicap-calculator"""
SLOPE_INDEX = 130